body {
  background-color: aliceblue;
}

table {
  border: 1px solid ghostwhite;
}

h1 {
  text-align: center;
  color: navy;
}

.header-box {
  background-color: lightblue;
}

hr {
  background-color: navy;
}

td {
  background-color: lightblue;
}
