* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.reciept {
  border: 2px solid black;
  width: 300px;
  margin: 20px auto;
  padding: 0 10px;
}

header h1 {
  text-align: center;
  margin: 30px auto 0;
  width: 100%;
  text-transform: uppercase;
}

.underline {
  border-bottom: 3px dotted black;
  margin: 0;
  width: 40%;
  margin: 0 auto;
}

header h2 {
  text-align: center;
  margin: 1px auto;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 1em;
}

header p {
  text-align: center;
  margin: -5px 0 auto;
  font-weight: 400;
  font-size: 1em;
}

.bold {
  font-weight: 700;
}

.break {
  height: 15px;
}

.divider {
  border-bottom: 3px dotted black;
  margin: 0;
  width: 90%;
  margin: 10px auto;
}

.purchases p {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875em;
}

.total p {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875em;
}

.wide-bar {
  margin: 0 2px;
  height: 50px;
  width: 8px;
  background-color: black;
}

.thin-bar {
  margin: 0 1px;
  height: 50px;
  width: 2px;
  background-color: black;
}

.medium-bar {
  margin: 0 1.5px;
  height: 50px;
  width: 5px;
  background-color: black;
}

.barcode {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.scan {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.scan p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  margin: 0 auto;
}

.info p {
  margin: 0 20px 30px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875em;
}

.gap {
  height: 100px;
}
