body {
  min-height: 400px;
  border: 3px solid black;
  display: flex;

  /* --- Spacing --- */
  gap: 10px; /* adds gaps around child elements */
  column-gap: 30px; /* vertical gaps between child elements */
  row-gap: 20px; /* horizontal gaps between child elements */
  flex-wrap: nowrap; /* elements will not go onto new line and will shrink in size */
  flex-wrap: wrap; /* pushes elments onto new line if there is no space */

  /* --- Direction --- */
  flex-direction: row-reverse; /* right to left in a row (reverse display) */
  flex-direction: column; /* top to bottom in a column */
  flex-direction: column-reverse; /* bottom to top in a column (reverse display) */
  flex-direction: row; /* left to right in a row */

  /* --- Horizontal Display --- */

  justify-content: flex-start; /* left of the parent */
  justify-content: flex-end; /* right of the parent */
  justify-content: space-between; /* pushes first and last to edges then spaces evenly between */
  justify-content: space-around; /* spaces with gaps on both sides with half spaces on the edges */
  justify-content: space-evenly; /* evenly spaces all child elements */
  justify-content: center; /* middle of parent */

  /* --- Vertical Display --- */

  align-items: flex-start; /* top of parent */
  align-items: flex-end; /* bottom of parent */
  align-items: center; /* center of parent */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: cornflowerblue;
  font-size: 20px;
}
