/*
display: flex: changes the element and child elements into flex items.
flex-direction: dictates the layout of the flex items.
flex-wrap: stops child elements breaking out of parent element by starting new rows or columns


*/

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

header {
  background: grey;
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

h2 {
  margin: auto;
  font-size: medium;
  color: black;
}

section:not(.learning, .block) {
  background-color: whitesmoke;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 20px;
  width: 300px;
  height: auto;
  max-height: 250px;
}

.sectionOne {
  display: flex;
  flex-direction: column;
}

.sectionTwo {
  display: flex;
  flex-direction: row;
}

.sectionThree {
  display: flex;
  flex-direction: row-reverse;
}

.sectionFour {
  display: flex;
  flex-direction: column-reverse;
}

.sectionFive {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sectionSix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sectionSeven {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.sectionEight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

div {
  margin: 10px;
  height: 30px;
  width: 30px;
  background: cornflowerblue;
  text-align: center;
  display: flex;
  justify-content: space-around;
  line-height: 1;
  vertical-align: middle;
}

.learning {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  justify-content: center;
  gap: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  margin: 0;
  background-color: slategrey;
  border-radius: 10px;
}
