body {
  background-color: #dcdcdc;
}

table {
  border: 1px solid #dcdcdc;
  width: 100%;
}

h1 {
  text-align: center;
  color: navy;
}

.header-box {
  background-color: #c5d7eb;
}

hr {
  background-color: navy;
}

.blue-row td {
  background-color: #c5d7eb;
}

.light-row td {
  background-color: #d2deeb;
}

.foot-cells {
  padding: 10px;
  background-color: #c5d7eb;
}
