* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 75px auto 75px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft"; /* template of areas for the grid */
  gap: 1rem;
}

.el {
  background-color: darkolivegreen;
  color: white;
  display: grid;
  place-content: center;
}

.header {
  grid-area: hd; /* defines name of area for template */
}

.sidebar {
  grid-area: sb; /* defines name of area for template */
  background-color: brown;
}

.footer {
  grid-area: ft; /* defines name of area for template */
}

.container {
  grid-area: mn; /* defines name of area for template */
  min-height: 400px;
  display: grid; /* makes all child elements grid elements */
  grid-template-columns: repeat(
    2,
    1fr 2fr
  ); /* define width and ammount of columns */
  grid-auto-rows: minmax(
    150px,
    auto
  ); /* auto sizes rows from the minimum to a maximum */
  gap: 1rem; /* adds a gap between columns and rows */
}

.box {
  background-color: coral;
  color: black;
  font-size: 3rem;
  padding: 1rem;
  display: grid;
  align-content: center; /* vertically align in grid element */
  justify-content: center;
  place-content: center center; /* shorthand of align content and justify content for grids */
}

.box:first-child {
  background-color: cornflowerblue;
  grid-column-start: 1; /* start at the first column */
  grid-column-end: 4; /* end before the fourth column */
  grid-row-start: 1; /* start at the first row */
  grid-row-end: 3; /* end before the third row */
}

.box:nth-child(2) {
  background-color: palevioletred;
  grid-column: 1 / 5; /* shorthand of column start and end */
  grid-row: 3 / 4; /* shorthand of row start and end */
}

.box:nth-child(6) {
  grid-column: 2 / 5;
}
